<header class="site-header">
  <nav class="container nav">
    <a class="brand" href="{{ '/' | relative_url }}#top">Maria (Ri) Wellington</a>
    <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="nav-links">
      Menu
    </button>
    <ul id="nav-links" class="nav-links">
      <li><a href="{{ '/' | relative_url }}#about">About Me</a></li>
      <li><a href="{{ '/' | relative_url }}#highlights">Favorite Highlights</a></li>
      <li><a href="{{ '/' | relative_url }}#academics">Academics</a></li>
      <li><a href="{{ '/' | relative_url }}#extracurriculars">Life Outside Class</a></li>
      {% if page.show_honors %}
      <li><a href="{{ '/' | relative_url }}#awards">Honors</a></li>
      {% endif %}
      <li><a href="{{ '/' | relative_url }}#contact">Say Hi</a></li>
    </ul>
  </nav>
</header>
